
$font: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

//colors
$burnt-orange: #a44a3f;
$tan: #ded2c2;
$sand: #fcfbf7;
$faded-blue: #586c72;

html, body {
    font-family: $font;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: $sand;
    scroll-behavior: smooth;
}
h1 {
    color: $faded-blue;
    font-family: $font;
}
h3 {
    font-weight: 100;
}
.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px ) {
        width: 1280px;
        min-width: 1280px;
    };
    @media(max-width: 1280px ) {
        width: 976px;
        min-width: 976 px;
    };
    @media(max-width: 976px ) {
        width: 768px;
        min-width: 768px;
    };
}
.contents {
    margin: 0 auto;
    padding: 0 4.5rem 1.0875rem 7rem;
    .projects{
        height: fit-content;
        // margin-right: 30px;
        .projects-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .about {
        height: fit-content;
    }
}

//Header
header {
    height: 100px;
    width: 100%;
    position: absolute;
    padding-top: 36px;
    top: 0px;
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: $sand;
    .morgan {
        color: $burnt-orange;
        margin: 6px 0px;
        padding: 6px 0px;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    .navigation {
        a {
            padding: 0 8px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 500;
            color: $faded-blue;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 0px;
            }
            &:hover{
                color: $burnt-orange;
            }
        }
        
    }
}

//Banner
.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    .container {
        height: 400px;
        width: 400px;
    }
}

//social media
.social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 3%;
    right: auto;
    z-index: 10;
    color: $faded-blue;

    .social-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: $faded-blue;
        }

        li:last-of-type {
            margin-bottom: 20px;
        }
        .icon {
            padding: 10px;
              &:hover,
              &:focus {
                transform: translateY(-3px);
              }
              svg {
                width: 18px;
                height: 18px;
              }
        }
    }
}
