
$font: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

//colors
$burnt-orange: #a44a3f;
$tan: #ded2c2;
$sand: #fcfbf7;
$faded-blue: #586c72;

html, body {
    font-family: $font;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: $sand;
    scroll-behavior: smooth;
}
h1 {
    color: $faded-blue;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    letter-spacing: 4px;
}
video {
    height: 650px;
    width: auto;
    z-index: 0;
    margin-top: 0px;
    margin-left: -40px;
}

//Banner
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    .container {
        text-align: left;
        height: 200px;
        width: 400px;
        z-index: 1;
    }
    .video-container {
        display: block;
        height: fit-content;
        width: 400px;
    }
    .banner-name {
        color: $faded-blue;
        text-transform: uppercase;
        font-size: 32px;
        font-family: 'Helvetica Neue';
        font-weight: 800;
        letter-spacing: 4px;
    }
    .sub-text {
        font-weight: 300;
        font-family: 'Helvetica Neue';
        font-size: 20px;
    }
}

// main parts, projects & about me
.contents {
    margin: 0 50px 0 110px;
    font-family: 'Helvetica Neue';
    .projects{
        height: fit-content;
        h1 {
            margin-block-end: 0;
        }
        .projects-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        p {
            font-weight: 300;
            font-size: 20px;
            margin-block-start: 12px;
        }
    }
    .about {
        height: 80vh;
        .about-me {
            display: flex;
            justify-content: space-between;
            line-height: 24px;
            .bio {
                margin-bottom: 18px;
            }
            .block {
                display: flex;
                justify-content: space-between;
                width: 680px;
                padding-bottom: 18px;
                .info {
                    width: 400px;
                }
            }
            .block:last-child {
                padding-bottom: 0;
            }
        }
        img {
            height: 500px;
            width: auto;
            padding-right: 20px;

        }
        h3 {
            color: $faded-blue;
            margin-block-start: 0;
        }
        p {
            font-weight: 300;
            margin-block-start: 0;
            margin-block-end: 6px;
        }
        p:first-child {
            margin-block-start: 0;
        }
        a {
            font-weight: 300;
            color: $burnt-orange;
            font-family: 'Helvetica Neue';
            text-decoration: none;
        }
        b {
            font-weight: 400;
            color: $faded-blue;
        }
        i {
            font-size: 14px;
        }
    }
}

//social media
.social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 3%;
    right: auto;
    z-index: 10;
    color: $faded-blue;

    .social-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: $faded-blue;
        }

        li:last-of-type {
            margin-bottom: 20px;
        }
        .icon {
            padding: 10px;
              &:hover,
              &:focus {
                transform: translateY(-3px);
              }
              svg {
                width: 18px;
                height: 18px;
              }
        }
    }
}
